{% extends 'base.html' %}
{% block content %}


{% if error %}
{{error}}
{% endif %}


<div class='my-3 d-flex justify-content-center'>
    <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        Username:
        <br />
        <input type='text' name="username" />
        <br />
        Password:
        <br />
        <input type='password' name="password" />
        <br />
        <input class="btn btn-yellow mt-2" type="submit" value="Login">
    </form>

</div>


{% endblock %}