{% extends 'base.html'%}

{% block content %}
<h1 class='text-center'>Sing Up!</h1>
<div class='my-3 d-flex justify-content-center'>

<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}
    Username:
    <br/>
    <input type='text' name="username"/>
    <br/>
    Password:
    <br/>
    <input type='password' name="password1"/>
    <br/>
    Confirm Password:
    <br/>
    <input type='password' name="password2"/>
    <br/>
    <input  class="btn btn-yellow mt-2" type="submit" value="Sign Up">
</form>
</div>

{% endblock %}