{% extends 'base.html'%}
{% block content %}
{% load  item_filter%}
<div class="container">
    <h1>your user page</h1>
    <div class="row d-flex justify-content-between">
        <div class="col-3">
            <img src="" alt="user image goe here">
        </div>
        <div class="col-7">
            <div class="userDetail border p-3 my-3">
                <h5>Your Address</h5>
                {% for item in address.all %}
                <div><b class="text-capitalize">{{ item.name }}</b></div>
                <ul class='d-flex userItems'>
                    <li>{{ item.name }},</li>
                    <li> {{ item.city }},</li>
                    <li>{{ item.city }},</li>
                    <li>{{ item.zip }}</li>
                </ul>
                <hr>
                {% endfor %}
                <div class="btn btn-yellow my-2" id="add-address-btn">Add address</div>
                <div class="hide-form">
                    <div id='addressForm' class='address-form form-collapse mb-3'>
                        <form action="">
                            <!-- single form  row -->

                            <h5 class='text-danger' id='addressFormError'>Invalid Information</h5>
                            <!-- end form row -->
                            <!-- single form  row -->
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="fname">First Name</label>
                                        <input type="text" class="form-control" id="fname" placeholder="first name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lname">Last Name</label>
                                        <input type="text" class="form-control" id="lname" placeholder="last name">
                                    </div>
                                </div>
                            </div>
                            <!-- end form row -->
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input type="text" class="form-control" id="address" placeholder="123 Main St">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="city">City</label>
                                        <input type="text" class="form-control" id="city" placeholder="City">
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label for="state">State</label>
                                            <input type="text" class="form-control" id="state" placeholder="CA">
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-3">
                                        <div class="form-group">
                                            <label for="zip">ZIP</label>
                                            <input type="text" class="form-control" id="zip" placeholder="90844">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="btn btn-yellow" id='addAddress'>Submit</div>

                            <!-- end row -->
                        </form>
                        <!-- end shipping info form -->
                    </div>
                </div>
            <!-- end add payment detail -->
            <h5>My payment</h5>
            {% for item in payment.all %}
            <div><b class="text-capitalize">{{ item.user }}</b></div>
            <ul class='d-flex userItems'>
                <li> Last 4 {{ item.cardNum }},</li>
                <li> expiration{{ item.exMonth }}/</li>
                <li>{{ item.exYear }}</li>
            </ul>
            <hr>
            {% endfor %}
            <div class="btn btn-yellow" id='addCardBtn'>Add Card</div>
            <!-- add new payment to database -->
            <div class="hide-form">
                <div class='addCardForm form-collapse'>
                    <form action="">
                        <h5 class='text-danger mt-2' id='cardFormError'>Invalid Information</h5>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cardName">Name on Card</label>
                                    <input type="text" class="form-control" id="cardName" placeholder="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cardNum">Card Number</label>
                                    <input type="text" class="form-control" id="cardNum"
                                        placeholder="card number">
                                </div>
                            </div>
                        </div>
                        <!-- single form  row -->
                        <div class="form-row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="code">CVV</label>
                                    <input type="text" class="form-control" id="code" placeholder="123">
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="form-group">
                                    <label for="code">Month</label>
                                    <input type="text" class="form-control" id="month" placeholder="01">
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="form-group">
                                    <label for="code">Year</label>
                                    <input type="text" class="form-control" id="year" placeholder="2026">
                                </div>
                            </div>

                            <!-- end form row -->
                        </div>
                        <div class="btn btn-yellow" id='addPaymentBtn'>Submit</div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- end of 2 columns  -->
    <!-- past orders go here -->
    <div>
        {% for item in orders.all %}
                <p>{{ item.items|cut }}</p>
                {% for i in item.items|cut %}
                <p>{{i}}</p>
                {% endfor %}

        
        {% endfor %}
    </div>
    <!-- end past orders -->

  
</div>


{% endblock %}