{% extends 'base.html'%}
{% block content %}
<div class="container">
    <h1>your user page</h1>
    <div class="row d-flex justify-content-between">
        <div class="col-3">
            <img src="" alt="user image goe here">
        </div>
        <div class="col-7">
            <div class="userDetail border p-3 my-3">
                <h5>Your Address</h5>
                {% for item in address.all %}
                <div><b class="text-capitalize">{{ item.name }}</b></div>
                <ul class='d-flex userItems'>
                    <li>{{ item.address }},</li>
                    <li> {{ item.city }},</li>
                    <li>{{ item.state }}</li>
                    <li>{{ item.zip }}</li>
                </ul>
                <hr>
                {% endfor %}
                <div class="btn btn-yellow">Add Address</div>
                <div class="add-address">
                    <h5 class='my-4 text-orange'>Add Address</h5>
                    <form method="POST" action="{% url  'user_page' %}">
                        {% csrf_token %}
                        <!-- single form  row -->
                        <div class="form-row">
                            <div class="col-md-6">
                                        <div class="form-group">
                                    <label for="fname">First Name</label>
                                    <input type="text" class="form-control" id="fname" name="fname" placeholder="first name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="lname">Last Name</label>
                                    <input type="text" class="form-control" id="lname" name="lname" placeholder="last name">
                                </div>
                            </div>
                        </div>
                        <!-- end form row -->
        
                        <div class="form-row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address" name="address" placeholder="123 Main St">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="city">Address</label>
                                    <input type="text" class="form-control" id="city" name="city" placeholder="City">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="state">State</label>
                                    <input type="text" class="form-control" id="state" name="state" placeholder="CA">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="zip">ZIP code</label>
                                    <input type="text" class="form-control" id="zip" name="zip" placeholder="90844">
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                        </div>
                        <!-- end row -->
                             <button type="submit" class="btn btn-yellow my-3 mr-3" id='addAddress'>Submit</button>
                   </form>
            </div>
            <!-- end add payment detail -->
            <h5>My payment</h5>
            {% for item in payment.all %}
            <div><b class="text-capitalize">{{ item.uer }}</b></div>
            <ul class='d-flex userItems'>
                <li> Last 4 {{ item.cardNum }},</li>
                <li> expiration{{ item.exMonth }}/</li>
                <li>{{ item.exYear }}</li>
            </ul>
            <hr>
            {% endfor %}
            <div class="btn btn-yellow">Add Card</div>
            <!-- add new payment to database -->
            <div class="hide-form">
                <div class='addCardForm'>
                    <form action="">
                        <h5 class='text-danger mt-2' id='cardFormError'>Invalid Information</h5>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cardName">Name on Card</label>
                                    <input type="text" class="form-control" id="cardName" placeholder="name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cardNum">Card Number</label>
                                    <input type="text" class="form-control" id="cardNum"
                                        placeholder="card number">
                                </div>
                            </div>
                        </div>
                        <!-- single form  row -->
                        <div class="form-row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="code">CVV</label>
                                    <input type="text" class="form-control" id="code" placeholder="123">
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="form-group">
                                    <label for="code">Month</label>
                                    <input type="text" class="form-control" id="month" placeholder="01">
                                </div>
                            </div>
                            <div class="col-md-2 col-6">
                                <div class="form-group">
                                    <label for="code">Year</label>
                                    <input type="text" class="form-control" id="year" placeholder="2026">
                                </div>
                            </div>

                            <!-- end form row -->
                        </div>
                        <div class="btn btn-yellow" id='addPaymentBtn'>Submit</div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
    <!-- end of 2 columns  -->
    {% for item in items.all %}
        <p>{{ item.title}}</p>
    {% endfor %}

  
</div>


{% endblock %}