<!-- {% block content%} -->
<!-- {% endblock%} -->
{% load staticfiles%}
<div class="container">
        <div class="row my-3">
                <div class="col-10 mx-auto text-center">
                    <h5 class='text-uppercase text-left'>items you also might like</h5>
        </div>
    </div>
    <div id="saleItem" class="carousel slide" data-ride="carousel" data-interval=false>
        <div class="carousel-inner row w-12 mx-auto" role="listbox">
            <!-- first item of carousel -->
            <!-- end of first item -->
            <!-- looping over items that are in database -->
            {% for item in items.all%}
            <div class="carousel-item col-md-3">
                    <div class='d-flex justify-content-start'>
                        <i class="far fa-heart fa-1x heart pt-3"></i>
                    </div>
                    <div class="carousel-img-div my-2">
                        <img src="{{ item.picture.url }}" alt="" class='img-fluid carousel-img'>
                    </div>
                    <div class='text-center'>
                        <a href="#" class='item-name-carousel'>
                            <h6 class='text-capitalize'>{{ item.title }}</h6>
                        </a>
                        <p>{{ item.price }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <!-- end carousel inner -->
        <a class="carousel-control-prev my-auto" href="#saleItem" role="button" data-slide="prev">
                <i class="fa fa-chevron-left carousel-button fa-lg"></i>
                <!-- <span class="sr-only">Previous</span> -->
              </a>
              <a class="carousel-control-next my-auto text-faded" href="#saleItem" role="button" data-slide="next">
                <i class="fa fa-chevron-right carousel-button fa-lg"></i>
                <!-- <span class="sr-only">Next</span> -->
              </a>

    </div>
</div>
