{% block content3 %}
{% load staticfiles %}
<section class='featured py-5'>
    <div class="container">
        <div class="row my-3">
            <div class="col-10 mx-auto text-center">
                <h1 class='text-uppercase'>Featured products</h1>
                <p class="text-muted">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam, veniam.</p>
            </div>
        </div>
        <div class="row">
            {% for item in items|slice:":6" %}
            <div class="col-10 mx-auto col-md-6 col-lg-4">
                <div class="featured-container p-3">
                    <img src="{% static item.picture %}" alt="product image"   id='image' class='img-fluid'>
                    <span class="featured-search-icon" data-toggle="model" data-target="#productModal">
                        <a href="/store/item{{item.id}}"><i class="fas fa-search go-single-page"></i></a></span>
                    <div class="featured-store-link text-capitalized" id='addCart'>add to cart</div>
                    </div>
                <h6 class="text-capitalize text-center my-2" id='title'>{{ item.title }}</h6>
                <h6 class="text-center">
                    <span class='text-muted old-price mx-2'>old</span>
                    <span class='new-price' id='price'>{{ item.price }}</span>
                </h6>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}