<!-- {% block content2 %} -->
{% endblock %}
  <!-- news letter -->
  <section class="newsletter py-5">
    <div class="container">
      <div class="row">
        <div class="col-10 mx-auto text-center">
          <h2 class="text-uppercase">newsletter</h2>
          <p class='newsletter-text'>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum saepe laborum labore eos adipisci iusto
            provident minus modi pariatur quia!</p>
          <form action="" class="">
            <div class="input-group mt-5 mb-4">
              <input type="email" class='form-control text-capitalize' placeholder="enter your email" required>
              <div class="input-group-append">
                <div class="input-group-text form-icon">
                  <i class="fas fa-envelope"></i>
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-yellow">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- end news letter -->
