@import url("https://fonts.googleapis.com/css?family=Calligraffitti|Mali");
/* GENERAL STYLES */
:root {
  --mainYellow: #fdbe02;
  --mainWhite: #fff;
  --mainBlack: #282c2e;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
  --SecondGrey: #6a666a;
}

.h1,h2,h3,h4{
  letter-spacing: 0.25rem;
  color: var(--mainBlack);
}
.h5,h6{
  letter-spacing: 0.1rem;
  color: var(--mainBlack);
}
ul{
  list-style-type: none;
  padding: 0; 
}
.text-orange{
  color: orangered;
}
.t-grey{
  color: var(--mainGrey);
}
.grey2{
  color: var(--SecondGrey);
}
body {
  color: var(--SecondGrey);
  background: var(--mainWhite);
  font-family: "Mali", cursive;
}
.text-slanted {
  font-family: "Calligraffitti", cursive;
}
.btn-yellow{
  background: var(--mainYellow)!important;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(--mainBlack);
  border-radius: 0!important;
}
.btn-yellow:hover{
  background: var(--mainBlack)!important;
  color: var(--mainYellow)!important;
}
.text-yellow{
  color: var(--mainYellow);
}
.banner-products, 
.banner-single-product,
.banner-store{
  min-height: 60vh;
  background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5))
   ,url(/img/pageBcg/productsBcg.jpeg)
  center/cover fixed no-repeat;
}
.banner-single-product{
  min-height: 60vh;
  background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5))
   ,url(/img/pageBcg/singleBcg.jpeg)
  center/cover fixed no-repeat;
}
.banner-store{
  min-height: 60vh;
  background:linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5))
   ,url(/img/pageBcg/singleBcg.jpeg)
  center/cover fixed no-repeat;
}
/* Home page */



/* navbat toggler */
.navbar-toggler{
  outline:none!important;
  border: none;
  font-size: 2.2rem;
  color: var(--mainYellow)!important;
}
.nav-links{
  font-size: 1.6rem;
  border-bottom: 0.1rem solid var(--mainWhite);
}
.nav-active{
  border-bottom: 0.1rem solid var(--mainYellow);
}
.navbar-icon{
  font-size: 1.6rem;
}
.navbar-cart-icon{
  color: var(--mainBlack);
  position: relative;
}
.navbar-cart-icon:hover{
  color: var(--mainGrey)
}
.cart-items{
  color: var(--mainBlack);
  position: absolute;
  top: -20%;
  right: -30%;
  padding: 0.1rem 0.1rem;
  background: var(--mainYellow);
  font-size:1.3rem;
  border-radius: 50%;
}
/* navbar drop down windows */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(238, 238, 238);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--SecondGrey);
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    color: var(--mainGrey);
    text-decoration: none;

}

/* Show the dropdown menu on hover */
@media (min-width:1000px){
.dropdown:hover .dropdown-content {display: block;}
}

/* ################# banner */
.banner{
  background: url(../img/banner.jpg);
  min-height: calc(100vh - 200px);
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}
/* ############### img collage */

.collage-link{
  color: var(--SecondGrey);
}
.collage-link:hover{
  text-decoration: none;
  color: var(--SecondGrey);
}

/* ##################### services */
.service-icon{
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: var(--mainYellow);
  background: var(--mainGrey);
  padding: 0.5rem 1rem;
  border-radius: 50%;

}

/*################# featured section */
.featured-container{
  background: var(--TransGrey);
  position: relative;
  overflow: hidden;
}
.featured-search-icon{
  background: var(--mainWhite);
  display: inline-block;
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 1.2 rem;
  transform: translateX(110%); 
  transition: all 1s ease-in-out;
  cursor: pointer;
}
.featured-container:hover .featured-search-icon{
  transform: translateX(0%); 
}
.featured-store-link{
  background: var(--mainYellow);
  color: var(--mainBlack);
  padding: 0.2rem 0.04rem;
  position: absolute;
  right: 0;
  top: 70%;
  transform: translateX(110%);
  transition: all 1s ease-in-out;
}
.featured-store-link:hover{
  color:var(--mainBlack);
  text-decoration: none;
}

.featured-container:hover .featured-store-link{
  transform: translateX(0%);
}

.old-price{
  text-decoration: line-through;
}
.new-price{
  font-weight: bold;
  color: orangered;
}

/* ####################  partners */
.partners{
  background: var(--TransGrey);
}
.carousel-control-prev{
  font-size: 2.5rem;
  color:var(--mainBlack);
  transform: translateX(-200%);
  }
  .carousel-control-next{
    font-size: 2.5rem;
    color:var(--mainBlack);
    transform: translateX(200%);
    }  

/* ##################### news letter */
.form-icon{
  background: var(--mainGrey);
  color: var(--mainBlack);
 }
.newsletter-text{
  color: var(--SecondGrey);
}
/* skills */
.skills{
  background: var(--mainBlack);
}
.skill-icon{
  color: var(--mainYellow);
  font-size: 2rem;
}
/* ################# footer */
.footer{
  background: rgba(0, 0, 0, 0.8);
}
.footer-title{
  border:0.2rem solid var(--mainYellow)
}
.footer-icon{
  color: var(--mainYellow);
}
.footer-icon:hover{
  color: var(--mainWhite);
}
.footer-list >ul>li>a{
  color: var(--mainGrey);
  margin: 0rem;
  padding: 0px;
}
.footer-list >ul>li>a:hover{
  color: var(--mainWhite);
  margin: 0rem;
  padding: 0px;
  text-decoration: none;
}
.footer-contact{
  color:var(--mainGrey);

}
.footer-contact:hover{
  color: var(--mainWhite);
}


/*################# products */
.products-categories-underline{
  height: 0.2rem;
  width: 5rem;
  background: var(--mainYellow);
}
.products-categories-link{
  color: var(--mainBlack);
  text-decoration: none !important;
}

.products-color{
  width: 1rem;
  height: 1rem; 
}
.box{
  color: var(--SecondGrey);
}
.box>ul>li:hover{
  cursor: pointer;
  color:var(--mainGrey);
}

li:hover{
  /* color: var(--mainGrey); */
}
.click{
  color: black;
}
.click:hover{
  color: var(--mainGrey)
}
.price-input{
 width: 55%;
}



.products-color-black{
  background: black;
}
.products-color-yellow{
  background: yellow;
}
.products-color-red{
  background: red;
}
.products-color-blue{
  background: blue;
}
/* ############### single item page */
.single-product-img{
  max-width: 100%;
}
.color-circle{
  width: 2rem;
  height: 2rem;
  background: #071013;
  margin-right: 1.5rem;
  border-radius: 50%;
  border-style: solid;
  border-width: 3px;
  border-color: white;
}
.btn-option-1{
  background: rgb(253, 124, 77)!important;
  cursor: pointer;
}
.btn-option-2{
  background: rgb(200, 200, 200)!important;
  cursor: pointer;
}
.color-circle:hover{
  cursor: pointer;
  border-style: solid;
  border-width: 0.25rem;
  border-color: orangered;
}
.circle-red{
  background: rgb(177, 113, 113);
}
.circle-blue{
  background: rgb(85, 85, 180);
}
.circle-green{
  background: rgb(101, 151, 101);
}
.circle-yellow{
  background: rgb(199, 199, 117);
}
@media (min-width:767px){
.color-div{
  border-left: 1px solid var(--mainGrey);
  border-right: 1px solid var(--mainGrey);
}
}
.btn-light:hover{
  background: var(--mainBlack);
  color: var(--mainYellow);
}
.stats-list >ul{
  display: flex;
  justify-content: space-between;
}
.review-container{
  background:lightgrey;
}
.review-star{
  color:rgb(253, 124, 77)
}
/* .features-column{
  padding
} */
.item-features >li{
  list-style-type: circle;
  color: var(--SecondGrey);
}
.item-features{
  padding-left: 1.2rem;
}


/* ############# item carousel ############### */


@media (min-width: 768px) {

  /* show  items
   if want to show more items need to add more .carousel-item */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item, 
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
      display: block;
  }
  
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item  {
      transition: none;
      margin-right: initial;
  }
  
  .carousel-inner .carousel-item-next, .carousel-item-next,
  .carousel-inner .carousel-item-prev .carousel-item-prev{
    position: relative;
    transform: translate3d(0, 0, 0);
  }
  
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item{
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
  }
  
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
  }
  
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
  }

}
/* carousel controls */
.carousel-control-prev{
  font-size: 2.5rem;
  transform: translateX(-70%);
  width: auto;
  }
  .carousel-control-next{
    font-size: 2.5rem;
    transform: translateX(70%);
    width: auto;
}  
.carousel-button{
  color: black;
}
.heart{
  justify-content: end;
  cursor: pointer;
  margin: 1rem;
}
.item-name-carousel{
  color: black;
}
.item-name-carousel:hover{
  text-decoration: none;
  color: red;
}
/* carousel picture zooming in on hover */
.carousel-img:hover{
  transform: scale(1.2);
}
.carousel-img{
  transition: all 1s ease-in-out;
}
.carousel-img-div{
  overflow: hidden;
}