{% extends 'accounts/main.html' %}
{% block content %}

{% include 'accounts/status.html' %}

<br>
<div class="container">
		<div class="col-md-12">
			<h5>ORDERS</h5>
			<!-- filters go here  -->
			{% include 'accounts/dashboard_filter.html'%}

			<!-- table with items -->
			<div class="card card-body">
				<table class="table table-sm">
					<tr>
						<th>Item</th>
						<th>User</th>
						<th>Date Ordered</th>
						<th>Address</th>
						<th>Qnty</th>
						<th>Status</th>
						<th>Update</th>
						<th>Remove</th>
					</tr>
					{% for order in orders %}
						<tr>
							<td><a href="/store/item{{ order.order_item.id }}">{{ order.order_item.title }}</a></td>
							<td><a href="customer{{order.order_customer.id}}">{{ order.user }}</a></td>
							<td>{{ order.date_created}}</td>
							<td>{{order.name}}, {{ order.address }}</td>
							<td>{{ order.quantity }}</td>
							<td>{{ order.status }}</td>
							<td><li  class="btn btn-info m-2">Update</li></td>							
							<td><li class="btn btn-danger m-2">Remove</li></td>
						</tr>
					{% endfor %}	
				</table>
			</div>
		</div>	
	</div>

{% endblock %}