:root {
  --mainYellow: #fdbe02;
  --mainWhite: #fff;
  --mainBlack: #282c2e;
  --mainGrey: #9b9999;
  --TransGrey: rgba(0, 0, 0, 0.1);
  --SecondGrey: #6a666a;
  --MainOrange: rgba(253, 124, 77);
}

.status-title{
    color: var(--mainBlack);
}

.card-title{
       color: var(--mainBlack);
}

a{
  color: var(--mainBlack);
}

a:hover{
  text-decoration: none;
  color: var(--SecondGrey);
}

.btn-yellow{
	background: var(--mainYellow)!important;
	text-transform: capitalize;
	font-size: 1.2rem;
	color: var(--mainBlack);
	border-radius: 0!important;
  }
  .btn-yellow:hover{
	background: var(--mainBlack)!important;
	color: var(--mainYellow)!important;
  }

/* dashboard page */
.filter-dashboard div{
	margin-right: 10px;
}